{% extends "layout/layout.html" %}

{% block head_css %}

{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}


<div class="block-header">
    <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
    <a href="" class="header-title-link">
        <h1>
            <i class="fa fa-cogs animation-expandUp"></i>User Management
            <br>
            <small>Tambah Data</small>
        </h1>
    </a>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li><i class="fa fa-pencil-square-o"></i></li>
    <li>User Management</li>
    <li>Tambah Data</li>
</ul>

<a class="btn btn-primary" style="margin-bottom: 14px;" href="/usermanagement"><i class="fa fa-arrow-left"></i> Kembali</a>

<div class="block full">
    <!-- Dropzone Title -->
    <div class="block-title">
        <h2>Form Tambah Data</h2>
    </div>
    <!-- END Dropzone Title -->
    <form action="add" name="form" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return validateForm()">
        <h4 class="sub-header">Text Inputs</h4>
        <div class="form-group">
            <label class="col-md-2 control-label" for="user_name">Nama user</label>
            <div class="col-md-3">
                <input type="text" id="user_name" name="user_name" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="user_email">Email</label>
            <div class="col-md-3">
                <input type="text" id="user_email" name="user_email" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="user_pass">Password</label>
            <div class="col-md-3">
                <input type="password" id="user_pass" name="user_pass" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="user_pass">Level</label>
            <div class="col-sm-2">
                <select id="user_level" name="user_level" class="form-control" size="1">
                    <option value="1">User</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5 col-md-offset-2">
                <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Reset</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Submit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}

{% block body_js %}

<script>
    function validateForm() {
        var x = document.forms["form"]["user_name"].value;
        if (x == "") {
          alert("Form nama user tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["user_email"].value;
        if (x == "") {
          alert("Form email user tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["user_pass"].value;
        if (x == "") {
          alert("Form telepass tidak boleh kosong");
          return false;
        }
      }
</script>

{% endblock %}