{% extends "layout/layout.html" %}

{% block head_css %}

{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}

<div id="page-content" class="block">
    
    <!-- Invoice Header -->
    <div class="block-header">
        <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
        <a href="" class="header-title-link">
            <h1>
                <i class="fa fa-dollar animation-expandUp"></i>Invoice Supplier<br>
            </h1>
        </a>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li><i class="fa fa-file-o"></i></li>
        <li>Pages</li>
        <li><a href="#">Invoice Supplier</a></li>
    </ul>
    
    <a class="btn btn-primary" style="margin-bottom: 14px;" href="/invoiceSupplier"><i class="fa fa-arrow-left"></i> Kembali</a>
    <!-- Invoice Block -->
    <div class="block full">
        <!-- Invoice Title -->
        <div class="block-title">
            <div class="block-options pull-right">
                <div class="btn-group">
                    <!-- <a href="/excel/print/{{ invkeluar[0].invoiceSupplier_number }}/invoiceSupplier/{{ invkeluar[0].id }}" target="_blank" class="btn btn-primary">Excel</a> -->
                    <!-- <a href="/print/invoiceSupplier/{{ invkeluar[0].id }}" target="_blank" class="btn btn-primary">Print</a> -->
                </div>
            </div>
            <h2><i class="fa fa-file-text-o"></i> {{ invkeluar[0].invoiceSupplier_number }}</h2>
        </div>
        <!-- END Invoice Title -->

        <!-- Invoice Content -->
        <!-- 2 Column grid -->
        <div class="row gutter30 block-section">
            <!-- Company Info -->
            <div class="col-sm-12">
                <h3 class="sub-header"><i class="fa fa-user"></i> {{ invkeluar[0].supplier_name }}</h3>
                <address class="col-sm-3">
                    <strong>{{ invkeluar[0].supplier_name }}</strong><br>
                    {{ invkeluar[0].supplier_alamat }}<br><br>
                </address>
            </div>
            <!-- END Company Info -->

            <!-- Client Info -->
            <!-- <div class="col-sm-6">
                <h3 class="sub-header text-right">{{ invkeluar[0].supplier_name }} <i class="fa fa-user"></i></h3>
                <address class="text-right">
                    <strong><i class="fa fa-suitcase"></i> {{ invkeluar[0].supplier_name }}</strong><br>
                    Address<br>
                    {{ invkeluar[0].supplier_address }}<br>
                    {{ invkeluar[0].supplier_phone }} <i class="fa fa-phone"></i><br>
                </address>
            </div> -->
            <!-- END Client Info -->
        </div>
        <!-- END 2 Column grid -->

        <!-- Table -->
        <div class="table-responsive">
            <table id="atas" class="table table-bordered table-vcenter">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width: 70%;">Product</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Unit Price</th>
                        <th class="text-right">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in invkeluar %}
                    <tr>
                        <td class="text-center">1</td>
                        <td>
                            <h4>{{ object.sparepart_number }} | {{ object.sparepart_name }} | {{ object.sparepart_brand }}</h4>
                        </td>
                        <td class="text-center"><span class="badge">{{ object.sparepart_qty }}</span></td>
                        <td class="text-center"><span class="label label-default">Rp. {{ object.sparepart_price }}</span></td>
                        <td class="text-right"><span class="label label-primary">Rp. {{ object.sparepart_totalprice }}</span></td>
                    </tr>
                    {% endfor %}
                    <!-- <tr>
                        <td class="text-center">1</td>
                        <td>
                            <h4>Logo Design</h4>
                            <span class="label label-info"><i class="fa fa-clock-o"></i> 2 weeks</span>
                            <span class="label label-success"><i class="fa fa-angle-right"></i> Revisions Available</span>
                        </td>
                        <td class="text-center"><span class="badge">1</span></td>
                        <td class="text-center"><span class="label label-default">$ 1000</span></td>
                        <td class="text-right"><span class="label label-primary">$ 1000</span></td>
                    </tr> -->
                    <tr class="active">
                        <td colspan="4" class="text-right">SUBTOTAL</td>
                        <td class="text-right">Rp. {{ invkeluar[0].invoiceSupplier_price }}</td>
                    </tr>

                    {% if  invkeluar[0].invoiceSupplier_ppn != 0 %}
                    <tr class="active">
                        <td colspan="4" class="text-right">VAT RATE</td>
                        <td class="text-right">10%</td>
                    </tr>
                    <tr class="active">
                        <td colspan="4" class="text-right">VAT DUE</td>
                        <td class="text-right">Rp. {{ invkeluar[0].invoiceSupplier_ppn }}</td>
                    </tr>
                    {% endif %}

                    <tr class="active">
                        <td colspan="4" class="text-right">MATERAI</td>
                        <td class="text-right">Rp. {{ invkeluar[0].invoiceSupplier_materai }}</td>
                    </tr>
                    <tr class="success">
                        <td colspan="4" class="text-right"><strong>TOTAL DUE</strong></td>
                        <td class="text-right"><span class="label label-success">Rp. {{ invkeluar[0].invoiceSupplier_totalprice }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END Table -->

        <!-- <div class="clearfix">
            <a href="javascript:void(0)" class="btn btn-lg btn-success pull-right"><i class="fa fa-check"></i> Send Invoice</a>
        </div> -->
        <!-- END Invoice Content -->
    </div>
    <!-- END Invoice Block -->
</div>

<!-- <table id="tblData">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>John Doe</td>
        <td>john@gmail.com</td>
        <td>USA</td>
    </tr>
    <tr>
        <td>Michael Addison</td>
        <td>michael@gmail.com</td>
        <td>UK</td>
    </tr>
    <tr>
        <td>Sam Farmer</td>
        <td>sam@gmail.com</td>
        <td>France</td>
    </tr>
</table>

<button onclick="exportTableToExcel('atas', 'members-data___sa')">Export Table Data To Excel File</button> -->

{% endblock %}

{% block body_js %}
<script>
    $(function () {
        /* Initialize Bootstrap Datatables Integration */
        webApp.datatables();

        /* Initialize Datatables */
        $('#example-datatable').dataTable({
            columnDefs: [{orderable: false, targets: [3]}],
            pageLength: 15,
            lengthMenu: [[15, 30, 50, -1], [15, 30, 50, "All"]]
        });

        /* Add placeholder attribute to the search form */
        $('.dataTables_filter input').attr('placeholder', 'Search');
    });

    function exportTableToExcel(tableID, filename = ''){
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        
        // Specify file name
        filename = filename?filename+'.xls':'excel_data.xls';
        
        // Create download link element
        downloadLink = document.createElement("a");
        
        document.body.appendChild(downloadLink);
        
        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
        
            // Setting the file name
            downloadLink.download = filename;
            
            //triggering the function
            downloadLink.click();
        }
    }

</script>
{% endblock %}