{% extends "layout/layout.html" %}

{% block head_css %}

<style>
    .sparepart_row{
        margin-top: 30px;
    }
</style>

{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}


<div class="block-header">
    <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
    <a href="" class="header-title-link">
        <h1>
            <i class="fa fa-cogs animation-expandUp"></i>DO
            <br>
            <small>Edit Data</small>
        </h1>
    </a>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li><i class="fa fa-pencil-square-o"></i></li>
    <li>DO</li>
    <li>Edit Data</li>
</ul>

<a class="btn btn-primary" style="margin-bottom: 14px;" href="/do"><i class="fa fa-arrow-left"></i> Kembali</a>

<div class="block full">
    <!-- Dropzone Title -->
    <div class="block-title">
        <h2>Form Edit Data</h2>
    </div>
    <!-- END Dropzone Title -->
    <form action="/do/edit" name="form" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return validateForm()">
        <input type="text" id="id" name="id" class="form-control" value="{{ data.id }}" style="display:none;" >
        <h4 class="sub-header">Text Inputs</h4>
        <div class="form-group">
            <label class="col-md-2 control-label" for="do_number">DO Number</label>
            <div class="col-md-3">
                <input type="text" id="do_number" name="do_number" class="form-control" value="{{ data.do_number }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="po_id">PO Number</label>
            <!-- <div class="col-md-10">
                <select id="po_id" name="po_id" class="select-select2" data-placeholder="Choose one.." style="width: 250px;" >
                    <option></option>
                    {% for no, x in listPo %}
                        {% set number = data.po_id | int %}
                        {% if number == x.id %}
                            <option selected value="{{ x.id }}">{{ x.po_number }} </option>
                        {% else %}
                            <option value="{{ x.id }}">{{ x.po_number }}</option>
                        {% endif %}
                    {% endfor %}
                </select >
            </div> -->
            <div class="col-md-3">
                <input type="text" id="po_number" name="po_number" class="form-control" value="{{ data.po_number }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="quotation_number">Quotation</label>
            <div class="col-md-3">
                <input type="text" id="quotation_number" name="quotation_number" class="form-control" value="{{ data.quotation_number }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="do_terms">Term</label>
            <div class="col-md-3">
                <input type="text" id="do_terms" name="do_terms" class="form-control" value="{{ data.do_terms }}" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="sparepart_number">Sparepart</label>
            <div class="col-md-10">
                <div class="col-sm-2">
                    <label class="head-dyn" for="sparepart">Sparepart:</label>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1">
                    <label class="head-dyn" for="qty">Quantity:</label>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>
        <div class="sparepart-form">
        </div>
        <div class="sparepart-summary">
        </div>
        <div class="form-group">
            <div class="col-md-5 col-md-offset-2">
                <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Reset</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Submit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}

{% block body_js %}

<script>
    let max_fields      = 10; //maximum input boxes allowed
    let index = 1;
    let sparePartData
    actionDetail()

    function validateForm() {
        var x = document.forms["form"]["konsumen_id"].value;
        if (x == "") {
          alert("Form id konsumen tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["konsumen_name"].value;
        if (x == "") {
          alert("Form nama konsumen tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["konsumen_address"].value;
        if (x == "") {
          alert("Form alamat konsumen tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["konsumen_phone"].value;
        if (x == "") {
          alert("Form telephone tidak boleh kosong");
          return false;
        }
    }

    // $( '.money-format' ).mask('000.000.000', {reverse: true});

    function setFinalPrice() {
        let sum = 0;
        $(".prc").each(function(){
            sum += +$(this).val()
        });
        $("#sum_price").val(sum);
        let fp = parseInt($("#sum_price").val())
        let ppn = 10
        let materai = parseInt($("#materai").val())
        let ppn_due = fp * (ppn/100);
        let grandprice = fp + ppn_due + materai

        $("#ppn").val(ppn_due);
        $("#grandprice").val(grandprice);

    }
    
    $(".sparepart-form").on("click",".remove-form-button", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').parent('div').parent('div').remove();
        setFinalPrice()
    })

    function setOption() {
        let html = ""
        for (i = 0; i < sparePartData.length; i++) {
            id = sparePartData[i].id
            sparepart_number = sparePartData[i].sparepart_number
            html += "<option value='"+ id +"'>"+ sparepart_number +"</option>"
        }
        return html
    }

    function actionDetail() {    
        let do_id = $('#id').val()
        $.ajax({
        type:"GET",
        url:"http://administrator.teknikberlianjaya.com/master/dodetail/" + do_id,
        success: function(data) {
            $(".sparepart-form").empty(); // clear boxes.
            $(".sparepart-summary").empty();
            $('#formCount').val(data.length)
            for (index = 0; index < data.length; index++) {
                let optionElement = '<div class="form-group">'
                    +'<label class="col-md-2 control-label" for="sparepart_number">-</label><div class="col-md-10">'
                    +'<div class="col-sm-3">'
                    +'    <input type="text" id="sparepart_name'+ (parseInt(index) + 1) +'" name="sparepart_name'+ (parseInt(index) + 1) +'" class="form-control" placeholder="sparepart" value ="'+ data[index].sparepart_name +'" readonly>'
                    +'    <input type="text" id="sparepart_'+ (parseInt(index) + 1) +'" name="sparepart_'+ (parseInt(index) + 1) +'" class="form-control" placeholder="sparepart" value ="'+ data[index].spid +'" style="display: none;">'
                    +'</div>'
                    +'<div class="col-sm-1">'
                    +'    <input type="number" id="qty_'+ (parseInt(index) + 1) +'" name="qty_'+ (parseInt(index) + 1) +'" class="form-control" placeholder="qty" min="1" value ="'+ data[index].sparepart_qty +'">'
                    +'</div>'
                    +'<div class="col-sm-2">'
                    +'    <input type="text" id="price_'+ (parseInt(index) + 1) +'" name="price_'+ (parseInt(index) + 1) +'" class="form-control money-format" placeholder="price" value="'+ data[index].sparepart_price +'" style="display: none;">'
                    +'</div>'
                    +'<div class="col-sm-2">'
                    +'    <input type="text" id="total_price_'+ (parseInt(index) + 1) +'" name="total_price_'+ (parseInt(index) + 1) +'" class="form-control money-format prc" placeholder="total price" value="0" style="display: none;">'
                    +'</div>'
                    +'<div class="col-sm-3">'
                    +'    <input type="text" id="description_'+ (parseInt(index) + 1) +'" name="description_'+ (parseInt(index) + 1) +'" class="form-control" placeholder="description" value="0" style="display: none;">'
                    +'</div>'
                    +'</div>'
                    +'</div>'
    
                $(".sparepart-form").append(optionElement);
            }

            let elementSummary = '<div>'
            +'            <input type="text" id="sum_price" name="sum_price" class="form-control money-format" placeholder="final price" value="'+ data[0].quotation_price +'" style="visibility:hidden">'
            +'            <input type="text" id="ppn" name="ppn" class="form-control money-format" placeholder="ppn" value="'+ data[0].quotation_ppn +'" style="visibility:hidden">'
            +'            <input type="text" id="materai" name="materai" class="form-control money-format" placeholder="Materai" value="'+ data[0].quotation_materai +'" style="visibility:hidden">'
            +'            <input type="text" id="grandprice" name="grandprice" class="form-control money-format" placeholder="Grand Price" value="'+ data[0].quotation_totalprice +'" style="visibility:hidden">'
            +'            </div>'

            
            $(".sparepart-summary").append(elementSummary);
                        
        },
            dataType: 'json',
        });
    }    

</script>

{% endblock %}