{% extends "layout/layout.html" %}

{% block head_css %}

{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}

<div id="page-content" class="block">
    
    <!-- Invoice Header -->
    <div class="block-header">
        <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
        <a href="" class="header-title-link">
            <h1>
                <i class="fa fa-dollar animation-expandUp"></i>Delivery Order<br>
            </h1>
        </a>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li><i class="fa fa-file-o"></i></li>
        <li>Pages</li>
        <li><a href="#">Delivery Order</a></li>
    </ul>
    
    <a class="btn btn-primary" style="margin-bottom: 14px;" href="/do"><i class="fa fa-arrow-left"></i> Kembali</a>
    <!-- Invoice Block -->
    <div class="block full">
        <!-- Invoice Title -->
        <div class="block-title">
            <div class="block-options pull-right">
                <div class="btn-group">
                    <a href="/download/do/{{ do[0].do_number }}" target="_blank" class="btn btn-primary">PDF</a>
                </div>
            </div>
            <h2><i class="fa fa-file-text-o"></i> {{ do[0].do_number }}</h2>
        </div>
        <!-- END Invoice Title -->

        <!-- Invoice Content -->
        <!-- 2 Column grid -->
        <div class="row gutter30 block-section">
            <!-- Company Info -->
            <div class="col-sm-12">
                <h3 class="sub-header"><i class="fa fa-user"></i> {{ do[0].konsumen_name }}</h3>
                <address class="col-sm-3">
                    <strong>{{ do[0].konsumen_name }}</strong><br>
                    {{ do[0].konsumen_address }}<br><br>
                    <i class="fa fa-phone"></i> {{ do[0].konsumen_phone }}<br>
                </address>
            </div>
            <!-- END Company Info -->

            <!-- Client Info -->
            <!-- <div class="col-sm-6">
                <h3 class="sub-header text-right">{{ do[0].konsumen_name }} <i class="fa fa-user"></i></h3>
                <address class="text-right">
                    <strong><i class="fa fa-suitcase"></i> {{ do[0].konsumen_name }}</strong><br>
                    Address<br>
                    {{ do[0].konsumen_address }}<br>
                    {{ do[0].konsumen_phone }} <i class="fa fa-phone"></i><br>
                </address>
            </div> -->
            <!-- END Client Info -->
        </div>
        <!-- END 2 Column grid -->

        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-vcenter">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width: 70%;">Product</th>
                        <th class="text-center">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in do %}
                    <tr>
                        <td class="text-center">1</td>
                        <td>
                            <h4>{{ object.sparepart_number }} | {{ object.sparepart_name }} | {{ object.sparepart_brand }}</h4>
                        </td>
                        <td class="text-center"><span class="badge">{{ object.sparepart_qty }}</span></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-center"></td>
                        <td>
                            
                        </td>
                        <td class="text-center" style="background: #e9e9e9;"><span class="badge">{{ totqty }}</span></td>
                    </tr>
                    <!-- <tr>
                        <td class="text-center">1</td>
                        <td>
                            <h4>Logo Design</h4>
                            <span class="label label-info"><i class="fa fa-clock-o"></i> 2 weeks</span>
                            <span class="label label-success"><i class="fa fa-angle-right"></i> Revisions Available</span>
                        </td>
                        <td class="text-center"><span class="badge">1</span></td>
                        <td class="text-center"><span class="label label-default">$ 1000</span></td>
                        <td class="text-right"><span class="label label-primary">$ 1000</span></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <!-- END Table -->

        <!-- <div class="clearfix">
            <a href="javascript:void(0)" class="btn btn-lg btn-success pull-right"><i class="fa fa-check"></i> Send Invoice</a>
        </div> -->
        <!-- END Invoice Content -->
    </div>
    <!-- END Invoice Block -->
</div>

{% endblock %}

{% block body_js %}
<script>
    $(function () {
        /* Initialize Bootstrap Datatables Integration */
        webApp.datatables();

        /* Initialize Datatables */
        $('#example-datatable').dataTable({
            columnDefs: [{orderable: false, targets: [1]}],
            pageLength: 15,
            lengthMenu: [[15, 30, 50, -1], [15, 30, 50, "All"]]
        });

        /* Add placeholder attribute to the search form */
        $('.dataTables_filter input').attr('placeholder', 'Search');
    });
</script>
{% endblock %}