{% extends "layout/layout.html" %}

{% block head_css %}

{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}


<div class="block-header">
    <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
    <a href="" class="header-title-link">
        <h1>
            <i class="fa fa-cogs animation-expandUp"></i>Sparepart
            <br>
            <small>Tambah Data</small>
        </h1>
    </a>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li><i class="fa fa-pencil-square-o"></i></li>
    <li>Sparepart</li>
    <li>Tambah Data</li>
</ul>

<a class="btn btn-primary" style="margin-bottom: 14px;" href="/sparepart"><i class="fa fa-arrow-left"></i> Kembali</a>

<div class="block full">
    <!-- Dropzone Title -->
    <div class="block-title">
        <h2>Form Tambah Data</h2>
    </div>
    <!-- END Dropzone Title -->
    <form action="add" name="form" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return validateForm()">
        <h4 class="sub-header">Text Inputs</h4>
        <div class="form-group">
            <label class="col-md-2 control-label" for="sparepart_name">Nama Sparepart</label>
            <div class="col-md-10">
                <select id="sparepart_name" name="sparepart_name" class="select-select2" data-placeholder="Choose one.." style="width: 250px;">
                    <option></option>
                    {% for no, x in listSparepartName %}
                        <option value="{{ x.id }}">{{ x.sparepart_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="sparepart_brand">Nama Brand</label>
            <div class="col-md-10">
                <select id="sparepart_brand" name="sparepart_brand" class="select-select2" data-placeholder="Choose one.." style="width: 250px;">
                    <option></option>
                    {% for no, x in listSparepartBrand %}
                        <option value="{{ x.id }}">{{ x.sparepart_brand }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="supplier_id">Nama Supplier</label>
            <div class="col-md-10">
                <select id="supplier_id" name="supplier_id" class="select-select2" data-placeholder="Choose one.." style="width: 250px;">
                    <option></option>
                    {% for no, x in listSupplier %}
                        <option value="{{ x.id }}">{{ x.supplier_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="sparepart_number">Sparepart Number</label>
            <div class="col-md-3">
                <input type="text" id="sparepart_number" name="sparepart_number" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5 col-md-offset-2">
                <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Reset</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Submit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}

{% block body_js %}

<script>
    function validateForm() {
        var x = document.forms["form"]["sparepart_name"].value;
        if (x == "") {
          alert("Form nama konsumen tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["supplier_id"].value;
        if (x == "") {
          alert("Form alamat konsumen tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["sparepart_number"].value;
        if (x == "") {
          alert("Form telephone tidak boleh kosong");
          return false;
        }
      }
</script>

{% endblock %}