{% extends "layout/layout.html" %}

{% block head_css %}

{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}


<div class="block-header">
    <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
    <a href="" class="header-title-link">
        <h1>
            <i class="fa fa-cogs animation-expandUp"></i>Konsumen
            <br>
            <small>Tambah Data</small>
        </h1>
    </a>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li><i class="fa fa-pencil-square-o"></i></li>
    <li>Konsumen</li>
    <li>Tambah Data</li>
</ul>

<div class="block full">
    <!-- Dropzone Title -->
    <div class="block-title">
        <h2>Form Tambah Data</h2>
    </div>
    <!-- END Dropzone Title -->
    <form action="/konsumen/edit" method="post" enctype="multipart/form-data" class="form-horizontal">
        <input type="text" id="id" name="id" class="form-control" value="{{ data.id }}" style="display:none;" >
        <h4 class="sub-header">Text Inputs</h4>
        <div class="form-group">
            <label class="col-md-2 control-label" for="konsumen_id">ID Konsumen</label>
            <div class="col-md-3">
                <input type="text" id="konsumen_id" name="konsumen_id" class="form-control" value="{{ data.konsumen_id }}" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="konsumen_name">Nama Konsumen</label>
            <div class="col-md-3">
                <input type="text" id="konsumen_name" name="konsumen_name" class="form-control" value="{{ data.konsumen_name }}" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="konsumen_address">Alamat</label>
            <div class="col-md-3">
                <input type="text" id="konsumen_address" name="konsumen_address" class="form-control" value="{{ data.konsumen_address }}" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="konsumen_phone">Telephone</label>
            <div class="col-md-3">
                <input type="text" id="konsumen_phone" name="konsumen_phone" class="form-control" value="{{ data.konsumen_phone }}" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5 col-md-offset-2">
                <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Reset</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Submit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}

{% block body_js %}

{% endblock %}