<link rel="stylesheet" href="{{ url_for('static', filename='css/pdfdoc.css') }}">
<page size="A4">
    <div class="pagepadding">
        <header>
            <!-- <img src="{{ url_for('static', filename='img/tbj/headbar.jpg') }}" class="headbar" alt="headbar"> -->
        </header>
    </div>
    <div class="col-md-12 pagepadding-variant">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td class="logomain">
                    {% if  data.quotation_ppn == 0 %}
                        <img src="{{ url_for('static', filename='img/tbj/logo_side_text_jaya.png') }}" class="logo-doc" alt="logo-doc">
                    {% else %}
                        <img src="{{ url_for('static', filename='img/tbj/logo_side_text.png') }}" class="logo-doc" alt="logo-doc">
                    {% endif %}
                </td>
                <td>
                    <!-- <div class="boxvariant"> -->
                        <p class="boxvariant">Quotation</p>
                    <!-- </div> -->
                </td>
            </tr>
        </table>
    </div>
    <div class="pagepadding wrap-date">
        <table cellpadding="0" cellspacing="0" class="">
            <tr>
                <td>
                    <p class="showdate">{{ data.quotation_date.strftime('%d %B %Y') }}</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="pagepadding detail-section">
        <table cellpadding="0" cellspacing="0" class="">
            <tr>
                <td class="quot-address">
                    <p>Quotation to</p>
                    <p class="ptname">{{ data.konsumen_name }}</p>
                    <p>{{ data.konsumen_address }}</p>
                    <p>{{ data.konsumen_phone }}</p>
                </td>
                <td class="quot-detail">
                    <table class="table-quodetail">
                        <tr>
                            <td class="quodetail-head">Quotation Number</td>
                            <td>:</td>
                            <td>{{ data.quotation_number }}</td>
                        </tr>
                        <tr>
                            <td class="quodetail-head">Costumer ID</td>
                            <td>:</td>
                            <td>{{ data.konsumen_id }}</td>
                        </tr>
                        <tr>
                            <td class="quodetail-head">Subject</td>
                            <td>:</td>
                            <td>-</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="pagepadding table-section">
        <table class="table table-spare">
            <thead class="">
                <tr>
                <th scope="col">No.</th>
                <th scope="col">Part Number</th>
                <th scope="col">Part Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Total Price</th>
                <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for object in dataChild %}
                    <tr>
                        <td style="text-align: center;">{{loop.index}}</td>
                        <td>{{ object.sparepart_number }}</td>
                        <td>{{ object.sparepart_name }}</td>
                        <td>{{ object.sparepart_brand }}</td>
                        <td>{{ object.sparepart_price }}</td>
                        <td style="text-align: center;">{{ object.sparepart_qty }}</td>
                        <td>{{ object.sparepart_totalprice }}</td>
                        <td>{{ object.sparepart_description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagepadding term-total">
        <table cellpadding="0" cellspacing="0">
            <!-- <td class="quot-address">
                <p class="term-title">Terms & Condition :</p>
                <table class="table-quoterm">
                    <tr>
                        <td class="quoterm-head">- Delivery Point</td>
                        <td>:</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="quoterm-head">- Bank Number</td>
                        <td>:</td>
                        <td>-</td>
                    </tr>
                </table>
            </td> -->
            <td>
                <table class="table-quototal">
                    <tr>
                        <td class="quototal-head">Sub Total</td>
                        <td class="quototal-tidua">:</td>
                        <td class="quototal-rp">Rp.</td>
                        <td class="quototal-val">{{ data.quotation_price }}</td>
                    </tr>
                    <tr>
                        <td class="quototal-head">Tax 10%</td>
                        <td class="quototal-tidua">:</td>
                        <td class="quototal-rp">Rp.</td>
                        <td class="quototal-val">{{ data.quotation_ppn }}</td>
                    </tr>
                    <tr>
                        <td class="quototal-head">Grand Total</td>
                        <td class="quototal-tidua">:</td>
                        <td class="quototal-rp">Rp.</td>
                        <td class="quototal-val val-gt">{{ data.quotation_totalprice }}</td>
                    </tr>
                </table>
            </td>
        </table>
    </div>
    <div class="pagepadding signspace-wrap">
        <table class="table-signspace">
            <tr>
                <td class="signspace">( user login )</td>
            </tr>
        </table>
    </div>
    <div class="pagepadding thankyou-wrap">
        <p class="thankyou">Thank You</p>
        <div class="contactus">
            <p>If you have any questions about this price quotation, please contact us : admin@teknikberlianjaya.com</p>
        </div>
    </div>
    <div class="pagepadding">
        <footer>
            <!-- <img src="{{ url_for('static', filename='img/tbj/headbar.jpg') }}" class="headbar" alt="footbar"> -->
        </footer>
    </div>
</page>