.logo-doc {
    width: 363px;
}
.block-variant {
    padding-top: 25px;
}
.wrap-date {
    font-size: 26px;
    font-weight: 500;
    text-align: -webkit-center;
}
.box-date {
    margin-top: -85px;
    width: 200px;
    border-bottom: 7px solid #3333a3;
}
.row {
    margin-top: 25px;
}
.blankspace {
    margin-top: 150px;
}
.thankyou {
    font-size: xx-large;
}
.contactus {
    margin-top: -15px !important;
}
.bt-none {
    border-top: none !important;
}
.fl-right {
    float: right;
}
.extra-logo {
    padding-bottom: 80px;
}
.container {
    max-width: 1300px;
}
.borderbot-ridge {
    border-bottom-style: ridge;
}

@media print {
    #printPageButton {
        display: none;
    }
}