{% extends "layout/layout.html" %}

{% block head_css %}

<style>
    .sparepart_row{
        margin-top: 30px;
    }
</style>

{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}


<div class="block-header">
    <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
    <a href="" class="header-title-link">
        <h1>
            <i class="fa fa-cogs animation-expandUp"></i>PO Keluar
            <br>
            <small>Tambah Data</small>
        </h1>
    </a>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li><i class="fa fa-pencil-square-o"></i></li>
    <li>PO Keluar</li>
    <li>Tambah Data</li>
</ul>

<a class="btn btn-primary" style="margin-bottom: 14px;" href="/pokeluar"><i class="fa fa-arrow-left"></i> Kembali</a>
<a class="btn btn-primary pull-right" style="margin-bottom: 14px;" href="/sparepart"><i class="fa fa-wrench"></i>&nbsp;&nbsp;&nbsp;Tambah Sparepart Number</a>

<div class="block full">
    <!-- Dropzone Title -->
    <div class="block-title">
        <h2>Form Tambah Data</h2>
    </div>
    <!-- END Dropzone Title -->
    <form action="add" name="form" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return validateForm()">
        <input type="text" id="formCount" name="formCount" class="form-control" value="1" style="display: none;">
        <h4 class="sub-header">Text Inputs</h4>
        <div class="form-group">
            <label class="col-md-2 control-label" for="supplier_name">Supplier</label>
            <div class="col-md-10">
                <select id="supplier_name" name="supplier_name" class="select-select2" data-placeholder="Choose one.." style="width: 250px;">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="po_number">PO Reference Number</label>
            <div class="col-md-10">
                <input id="po_number" name="po_number" class="form-control" data-placeholder="" style="width: 250px;">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="sparepart_number">Sparepart</label>
            <div class="col-md-10">
                <button type="button" class="btn btn-default add-form-button"><i class="gi gi-circle_plus"></i> Tambah Sparepart</button>
            </div>
        </div>
        <div class="sparepart-form">
            <div class="form-group">
                <label class="col-md-2 control-label sparepart_row" for="sparepart_number">-</label>
                <div class="col-md-10">
                    <div class="col-sm-2">
                        <label class="head-dyn" for="sparepart">Sparepart:</label>
                        <select id="sparepart_1" name="sparepart_1" class="sparepart_1 select-select2" data-placeholder="Choose one.." style="width: 250px;">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-1">
                        <label class="head-dyn" for="qty">Quantity:</label>
                        <input type="number" id="qty_1" name="qty_1" class="form-control" placeholder="qty" min="1" value ="1">
                    </div>
                    <div class="col-sm-2">
                        <label class="head-dyn" for="price">Price:</label>
                        <input type="text" id="price_1" name="price_1" class="form-control money-format" placeholder="Price" value="0">
                    </div>
                    <div class="col-sm-2">
                        <label class="head-dyn" for="total_price">Total Price:</label>
                        <input type="text" id="total_price_1" name="total_price_1" class="form-control money-format prc" placeholder="total price" value="0" readonly>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label sparepart_row" for="sparepart_number"></label>
            <div class="col-md-10">
                <div class="col-sm-5">
                   
                </div>
                <div class="col-sm-1">
                    <label class="head-dyn" for="sum_price">Total Price:</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="sum_price" name="sum_price" class="form-control money-format" placeholder="final price" value="0" readonly>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label sparepart_row" for="sparepart_number"></label>
            <div class="col-md-10">
                <div class="col-sm-5">
                   
                </div>
                <div class="col-sm-1">
                    <label class="head-dyn" for="ppn">PPN 10%:</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="ppn" name="ppn" class="form-control money-format" placeholder="ppn" value="0" readonly>
                </div>
                <div class="col-sm-1">
                    <label class="switch switch-warning">
                        <input name="ppnswitcher" id="ppnswitcher" type="checkbox" checked=""><span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label sparepart_row" for="sparepart_number"></label>
            <div class="col-md-10">
                <div class="col-sm-5">
                   
                </div>
                <div class="col-sm-1">
                    <label class="head-dyn" for="materai">Materai:</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="materai" name="materai" class="form-control money-format" placeholder="Materai" value="0" readonly>
                </div>
                <div class="col-sm-1">
                    <label class="switch switch-warning">
                        <input name="materaiswitcher" id="materaiswitcher" type="checkbox" checked=""><span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label sparepart_row" for="sparepart_number"></label>
            <div class="col-md-10">
                <div class="col-sm-5">
                   
                </div>
                <div class="col-sm-1">
                    <label class="head-dyn" for="grandprice">Grand Price:</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="grandprice" name="grandprice" class="form-control money-format" placeholder="Grand Price" value="0" readonly>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5 col-md-offset-2">
                <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Reset</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Submit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}

{% block body_js %}

<script>
    let max_fields      = 10; //maximum input boxes allowed
    let index = 1;
    let sparePartData
    let ppn = 10
    let materai = 10000
    getSupplier()
    getPo()
    getSparepart(1)
    actionFormDynamic(index)
    setPPN()
    setMaterai()
    setFinalPrice()

    function validateForm() {
        var x = document.forms["form"]["supplier_name"].value;
        if (x == "") {
          alert("Form id supplier tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["konsumen_name"].value;
        if (x == "") {
          alert("Form nama konsumen tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["konsumen_address"].value;
        if (x == "") {
          alert("Form alamat konsumen tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["konsumen_phone"].value;
        if (x == "") {
          alert("Form telephone tidak boleh kosong");
          return false;
        }
    }

    $( '.money-format' ).mask('000000000', {reverse: true});

    $(".add-form-button").click(function(e){ //on add input button click
        e.preventDefault();
        // if(index < max_fields){
            index++; //text box increment
            let optionElement = '<div class="form-group">'
                +'<label class="col-md-2 control-label" for="sparepart_number">-</label><div class="col-md-10">'
                +'<div class="col-sm-2">'
                +'<select id="sparepart_'+ index +'" name="sparepart_'+ index +'" class="sparepart_1 select-select2" data-placeholder="Choose one.." style="width: 250px;"><option></option></select>'
                +'</div>'
                +'<div class="col-sm-1">'
                +'</div>'
                +'<div class="col-sm-1">'
                +'    <input type="number" id="qty_'+ index +'" name="qty_'+ index +'" class="form-control" placeholder="qty" min="1" value ="1">'
                +'</div>'
                +'<div class="col-sm-2">'
                +'    <input type="text" id="price_'+ index +'" name="price_'+ index +'" class="form-control money-format" placeholder="price" value="0">'
                +'</div>'
                +'<div class="col-sm-2">'
                +'    <input type="text" id="total_price_'+ index +'" name="total_price_'+ index +'" class="form-control money-format prc" placeholder="total price" value="0" readonly>'
                +'</div>'
                +'<div class="col-sm-1">'
                +'    <button type="button" class="btn btn-default remove-form-button"><i class="gi gi-circle_remove"></i></button>'
                +'</div>'
                +'</div>'
                +'</div>'

            $(".sparepart-form").append(optionElement); // add input boxes.
            $('#sparepart_'+ index).select2();
            let html = setOption()
            $('#sparepart_' + index).append(html);
            let formCount = parseInt($('#formCount').val())
            formCount++
            $('#formCount').val(formCount)
            actionFormDynamic(index)
        // }
    });

    function actionFormDynamic(index) {        
        $('#sparepart_'+ index).change(function(){ 
            let id_spare = parseInt($('#sparepart_'+ index).val())
            let qty = parseInt($('#qty_'+ index).val())
            let price = 0
            let total_price = 0

            for (i = 0; i < sparePartData.length; i++) {
                if (parseInt(sparePartData[i].id) == id_spare) {
                    price = sparePartData[i].sparepart_price
                    i = sparePartData.length
                }
            }

            total_price = price * qty

            $('#price_'+ index).val(price)
            $('#total_price_'+ index).val(total_price)
            setFinalPrice()
        });
        $('#qty_'+ index).change(function(){ 
            let qty = parseInt($('#qty_'+ index).val())
            let price = parseInt($('#price_'+ index).val())
            let total_price = price * qty
            console.log('fe',total_price)
            $('#total_price_'+ index).val(total_price)
        });
        $('#qty_'+ index).change(function(){ 
            var sum = 0;
            $(".prc").each(function(){
                sum += +$(this).val();
            });
            $("#sum_price").val(sum);
            setFinalPrice()
        });
        $('#price_'+ index).change(function(){ 
            let qty = parseInt($('#qty_'+ index).val())
            let price = parseInt($('#price_'+ index).val())
            let total_price = price * qty
            console.log('fe',total_price)
            $('#total_price_'+ index).val(total_price)
            setFinalPrice()
        });
    }
    
    function setFinalPrice() {
        let sum = 0;
        $(".prc").each(function(){
            sum += +$(this).val()
        });
        $("#sum_price").val(sum);
        let fp = parseInt($("#sum_price").val())
        let ppn_due = fp * (ppn/100);
        let grandprice = fp + ppn_due + materai

        $("#materai").val(materai);
        $("#ppn").val(ppn_due);
        $("#grandprice").val(grandprice);

    }

    function setPPN() {
        $('#ppnswitcher').change(function(){ 
            if ($(this).is(":checked")) {
                ppn = 10
            } else {
                ppn = 0
            }
            setFinalPrice()
        });
    }

    function setMaterai() {
        $('#materaiswitcher').change(function(){ 
            if ($(this).is(":checked")) {
                materai = 10000
            } else {
                materai = 0
            }
            setFinalPrice()
        });
    }

    $(".sparepart-form").on("click",".remove-form-button", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').parent('div').parent('div').remove();
        setFinalPrice()
    })

    function setOption() {
        let html = ""
        for (i = 0; i < sparePartData.length; i++) {
            id = sparePartData[i].id
            html += "<option value='"+ id +"'>"+ sparePartData[i].sparepart_name + " | " + sparePartData[i].sparepart_number + " | " + sparePartData[i].sparepart_brand + "</option>"
        }
        return html
    }

    function getSupplier() {
        $.ajax({
            type:"GET",
            url:"http://localhost:5000/master/supplier",
            success: function(data) {
                html = ""
                for (i = 0; i < data.length; i++) {
                    id = data[i].id
                    supplier_name = data[i].supplier_name
                    html += "<option value='"+ id +"'>"+ supplier_name +"</option>"
                }
                $('#supplier_name').append(html);              
            },
            dataType: 'json',
          });
    }

    function getPo() {
        $.ajax({
            type:"GET",
            url:"http://localhost:5000/master/po",
            success: function(data) {
                html = ""
                for (i = 0; i < data.length; i++) {
                    poid = data[i].poid
                    po_number = data[i].po_number
                    html += "<option value='"+ poid +"'>"+ po_number +"</option>"
                }
                $('#po_number').append(html);              
            },
            dataType: 'json',
          });
    }

    function getSparepart(numberRow) {
        $.ajax({
            type:"GET",
            url:"http://localhost:5000/master/sparepart",
            success: function(data) {
                sparePartData = data
                html = ""
                for (i = 0; i < data.length; i++) {
                    id = data[i].spid
                    html += "<option value='"+ id +"'>"+ data[i].sparepart_name + " | " + data[i].sparepart_number + " | " + data[i].sparepart_brand + "</option>"
                }
                $('#sparepart_' + numberRow).append(html);               
            },
            dataType: 'json',
          });
    }
</script>

{% endblock %}