<div id="sidebar-left" class="enable-hover">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
        <!-- Search Form -->
        <!-- END Search Form -->

        <!-- Wrapper for scrolling functionality -->
        <div class="sidebar-left-scroll">
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                
                {% if session['level'] == '1' %}
                {% set leftbar = nav.leftbar1 %}
                {% elif session['level'] == '2' %}
                {% set leftbar = nav.leftbar2 %}
                {% elif session['level'] == '3' %}
                {% set leftbar = nav.leftbar3 %}
                {% endif %}
                {% for item in leftbar %}
                <li>
                    <h2 class="sidebar-header">{{ item.label }}</h2>
                </li>
                {% if item.items %}
                {% for child in item.items %}
                <li>
                    <a href="{{ child.url }}" class="{{ 'active' if child.is_active else '' }}"></i>{{ child.label }}</i></a>
                </li>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
            <!-- END Sidebar Navigation -->
        </div>
        <!-- END Wrapper for scrolling functionality -->
    </div>
    <!-- END Sidebar Content -->
</div>