<div id="sidebar-right">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
        <!-- User Info -->
        <div class="user-info">
            <div class="user-details"><a href="page_special_user_profile.html">Profile</a><br><em>{{ session['name'] }}</em></div>
            <img src="{{ url_for('static', filename='img/template/avatar.png') }}" alt="Avatar">
        </div>
        <!-- END User Info -->

        <!-- Wrapper for scrolling functionality -->
        <div class="sidebar-right-scroll">
            <!-- User Menu -->
            <ul class="sidebar-nav">
                <li>
                    <a href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                </li>
            </ul>
            <!-- END User Menu -->
        </div>
        <!-- END Wrapper for scrolling functionality -->
    </div>
    <!-- END Sidebar Content -->
</div>