{% extends "layout/layout.html" %}

{% block head_css %}

<style>
    .sparepart_row{
        margin-top: 30px;
    }
    .sparepart-summary {
        content-visibility: hidden;
    }
</style>

{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}


<div class="block-header">
    <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
    <a href="" class="header-title-link">
        <h1>
            <i class="fa fa-cogs animation-expandUp"></i>Invoice
            <br>
            <small>Tambah Data</small>
        </h1>
    </a>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li><i class="fa fa-pencil-square-o"></i></li>
    <li>Invoice</li>
    <li>Tambah Data</li>
</ul>

<a class="btn btn-primary" style="margin-bottom: 14px;" href="/invoice"><i class="fa fa-arrow-left"></i> Kembali</a>

<div class="block full">
    <!-- Dropzone Title -->
    <div class="block-title">
        <h2>Form Tambah Data</h2>
    </div>
    <!-- END Dropzone Title -->
    <form action="add" name="form" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return validateForm()">
        <input type="text" id="formCount" name="formCount" class="form-control" value="1" style="display: none;">
        <h4 class="sub-header">Text Inputs</h4>
        <div class="form-group">
            <label class="col-md-2 control-label" for="do_id">DO</label>
            <div class="col-md-10">
                <select id="do_id" name="do_id" class="select-select2" data-placeholder="Choose one.." style="width: 250px;">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="invoice_terms">Term</label>
            <div class="col-md-3">
                <input type="text" id="invoice_terms" name="invoice_terms" class="form-control" placeholder="invoice_terms" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="sparepart_number">Sparepart</label>
            <div class="col-md-10">
                <div class="col-sm-2">
                    <label class="head-dyn" for="sparepart">Sparepart:</label>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1">
                    <label class="head-dyn" for="qty">Quantity:</label>
                </div>
            </div>
        </div>
        <div class="sparepart-form">
        </div>
        <div class="sparepart-summary">
        </div>
        <div class="form-group">
            <div class="col-md-5 col-md-offset-2">
                <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Reset</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Submit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}

{% block body_js %}

<script>
    let max_fields      = 10; //maximum input boxes allowed
    let index = 1;
    let podbData
    getDO()

    function validateForm() {
        var x = document.forms["form"]["konsumen_id"].value;
        if (x == "") {
          alert("Form id konsumen tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["konsumen_name"].value;
        if (x == "") {
          alert("Form nama konsumen tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["konsumen_address"].value;
        if (x == "") {
          alert("Form alamat konsumen tidak boleh kosong");
          return false;
        }
        var x = document.forms["form"]["konsumen_phone"].value;
        if (x == "") {
          alert("Form telephone tidak boleh kosong");
          return false;
        }
    }

    // $( '.money-format' ).mask('000.000.000', {reverse: true});

    function setFinalPrice() {
        let sum = 0;
        $(".prc").each(function(){
            sum += +$(this).val()
        });
        $("#sum_price").val(sum);
        let fp = parseInt($("#sum_price").val())
        let ppn = 10
        let materai = parseInt($("#materai").val())
        let ppn_due = fp * (ppn/100);
        let grandprice = fp + ppn_due + materai

        $("#ppn").val(ppn_due);
        $("#grandprice").val(grandprice);

    }
    
    $(".sparepart-form").on("click",".remove-form-button", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').parent('div').parent('div').remove();
        setFinalPrice()
    })

    function getDO() {
        $.ajax({
            type:"GET",
            url:"http://administrator.teknikberlianjaya.com/master/do",
            success: function(data) {
                dodbData = data
                html = ""
                for (i = 0; i < data.length; i++) {
                    id = data[i].doid
                    do_number = data[i].do_number
                    konsumen_name = data[i].konsumen_name
                    html += "<option value='"+ id +"'>"+ do_number +" | "+ konsumen_name +"</option>"
                }
                $('#do_id').append(html);              
            },
            dataType: 'json',
          });
          actionForDO()
    }

    function actionForDO() {    
        $('#do_id').change(function(){ 
            let html = ""
            let do_id = $('#do_id').val()            
            $.ajax({
            type:"GET",
            url:"http://administrator.teknikberlianjaya.com/master/dodetail/" + do_id,
            success: function(data) {
                $(".sparepart-form").empty(); // clear boxes.
                $(".sparepart-summary").empty();
                $('#formCount').val(data.length)
                for (index = 0; index < data.length; index++) {
                    let optionElement = '<div class="form-group">'
                        +'<label class="col-md-2 control-label" for="sparepart_number">-</label><div class="col-md-10">'
                        +'<div class="col-sm-3">'
                        +'    <input type="text" id="sparepart_name'+ (parseInt(index) + 1) +'" name="sparepart_name'+ (parseInt(index) + 1) +'" class="form-control" placeholder="sparepart" value ="'+ data[index].sparepart_name +'" readonly>'
                        +'    <input type="text" id="sparepart_'+ (parseInt(index) + 1) +'" name="sparepart_'+ (parseInt(index) + 1) +'" class="form-control" placeholder="sparepart" value ="'+ data[index].spid +'" style="display: none;">'
                        +'</div>'
                        +'<div class="col-sm-1">'
                        +'    <input type="number" id="qty_'+ (parseInt(index) + 1) +'" name="qty_'+ (parseInt(index) + 1) +'" class="form-control" placeholder="qty" min="1" value ="'+ data[index].sparepart_qty +'" readonly>'
                        +'</div>'
                        +'<div class="col-sm-2">'
                        +'    <input type="text" id="price_'+ (parseInt(index) + 1) +'" name="price_'+ (parseInt(index) + 1) +'" class="form-control money-format" placeholder="price" value="'+ data[index].sparepart_price +'" readonly>'
                        +'</div>'
                        +'<div class="col-sm-2">'
                        +'    <input type="text" id="total_price_'+ (parseInt(index) + 1) +'" name="total_price_'+ (parseInt(index) + 1) +'" class="form-control money-format prc" placeholder="total price" value="'+ data[index].sparepart_totalprice +'" readonly>'
                        +'</div>'
                        +'</div>'
                        +'</div>'
        
                    $(".sparepart-form").append(optionElement);
                    actionFormDynamic(index)
                }

                let elementSummary = '<div>'
                +'            <input type="text" id="sum_price" name="sum_price" class="form-control money-format" placeholder="final price" value="'+ data[0].quotation_price +'" style="visibility:hidden">'
                +'            <input type="text" id="ppn" name="ppn" class="form-control money-format" placeholder="ppn" value="'+ data[0].quotation_ppn +'" style="visibility:hidden">'
                +'            <input type="text" id="materai" name="materai" class="form-control money-format" placeholder="Materai" value="'+ data[0].quotation_materai +'" style="visibility:hidden">'
                +'            <input type="text" id="grandprice" name="grandprice" class="form-control money-format" placeholder="Grand Price" value="'+ data[0].quotation_totalprice +'" style="visibility:hidden">'
                +'            </div>'

                
                $(".sparepart-summary").append(elementSummary);
                          
            },
                dataType: 'json',
            });
        });
    }    

    function actionFormDynamic(index) { 
        $('#qty_'+ index).change(function(){ 
            let qty = parseInt($('#qty_'+ index).val())
            let price = parseInt($('#price_'+ index).val())
            let total_price = price * qty
            console.log('fe',total_price)
            $('#total_price_'+ index).val(total_price)
        });
        $('#qty_'+ index).change(function(){ 
            var sum = 0;
            $(".prc").each(function(){
                sum += +$(this).val();
            });
            $("#sum_price").val(sum);
            setFinalPrice()
        });
        $('#price_'+ index).change(function(){ 
            let qty = parseInt($('#qty_'+ index).val())
            let price = parseInt($('#price_'+ index).val())
            let total_price = price * qty
            console.log('fe',total_price)
            $('#total_price_'+ index).val(total_price)
            setFinalPrice()
        });
    }

</script>

{% endblock %}